<h1>Short Links</h1>
<% @urls.each do |url|%>
  <div class="row">
    <div class="col-md-4 offset-4">
      www.<%= url.link %> || www.<%= url.short %>
      <%= link_to "Delete URL", delete_urls_path, class: "mx-2", method: :delete %>
    </div>
  </div>
<% end %>
